# Залежності (вони важать дуже багато, їх не кидають в гіт)
node_modules/

# База даних (це динамічний файл, він не має бути в гіті)
src/db/*.db
src/db/*.sqlite
*.db

# Логи та системні файли
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist/

# Конфіденційні дані (якщо з'являться в майбутньому)
.env